@import "tailwindcss";

@theme {
  --color-text: #e0e0e0;
  --color-background: #0a0a0a;
  --color-background-ui: #22c55e;
  --color-logo-primary: #22c55e;
  --color-logo-stroke: #0a0a0a;
  --color-text-stroke: #1a1a1a;
  --color-mid-gray: #808080;
}

:root {
  /* Typography */
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;

  /* Typography settings */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Apply colors */
  color: var(--color-text);
  background-color: var(--color-background);
}

.container {
  margin: 0;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: #e0e0e0;
    --color-background: #0a0a0a;
    --color-logo-primary: #22c55e;
    --color-logo-stroke: #1a1a1a;
  }
}

@layer utilities {
  .text-stroke {
    -webkit-text-stroke: 2px var(--color-text-stroke);
  }
}

.logo-primary {
  fill: var(--color-logo-primary);
}

.logo-stroke {
  fill: var(--color-logo-stroke);
  stroke: var(--color-logo-stroke);
  stroke-width: 1;
}
